@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Body styling */
body {
    background: #202124;
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

/* Anchor tag styling */
a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Navigation bar styling */
nav {
    margin-top: 20px;
    margin-inline:20px;
    display: flex;
    justify-content: space-between;
}

.nav-left , .nav-right {
    display: flex;
    gap: 15px;
}

/* Main content styling */
main {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 95px;
}

/* Image styling */
img {
    width: 400px;
}

/* Search box styling */
.search-box {
    display: flex;
    align-items: center;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 5px 10px;
    width: 500px;
}
.search-box input[type="text"] {
    border: none;
    outline: none;
    flex: 1;
    padding: 10px;
    font-size: 16px;
    background: transparent; /* Make input background transparent */
    color: white; /* Set input text color */
}

.search-icon, .mic-icon, .camera-icon {
    color: #5f6368;
    margin: 0 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Optional: For hover effects */
.search-icon:hover, .mic-icon:hover, .camera-icon:hover {
    color: #0141ff;
}


/* Button styling */
.google-btn {
    color: #f2f2f2;
    border-radius: 4px;
    background-color: #5f6368;
    font-size: 14px;
    margin: 11px 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    transition: box-shadow 0.25s ease-in;
    
}

.google-btn:hover {
    background-color: #5f6355;
    box-shadow: 0 100px 11px rgba(255, 0, 0, 0.1);
}

.google-btn:active {
    text-align: left;
    background-color: #e8e8e8;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.main-buttons {
    
    margin-top: 20px;
}

/* Google offered in section styling */
span {
    color: white;
}

.google-offered-in a {
    color: rgb(85, 183, 235);
}
 footer{
    background-color: rgba(0, 0, 0, 0.913);
 }
 .footer-top{
    padding: 20px;
    padding-bottom: 5px;
    padding-top: 10px;
    border-bottom: 1px solid rgb(221, 221, 221);
 }
 .footer-bottom{
    display: flex;
    justify-content: space-between;
    
    padding: 20px;
    padding-bottom: 5px;
    padding-top: 10px;
 }
 .footer-bottom-left, .footer-bottom-right{
    display: flex;
    gap: 20px;
 }